body {
  background-color: #0f172a;
  color: #e5e7eb;
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
}

h1 {
  color: #38bdf8;
  font-size: 42px;
}

h2 {
  color: #22c55e;
}

ul {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
}

li {
  margin: 10px 0;
}

p {
  font-size: 18px;
}